{% extends 'base.html' %}

{% block content %}
<h2>Détail Salle</h2>

<ul class="list-group">
    <li class="list-group-item"><strong>Nom :</strong> {{ salle.nom }}</li>
    <li class="list-group-item"><strong>Type :</strong> {{ salle.get_type_salle_display }}</li>
    <li class="list-group-item"><strong>Niveau :</strong> {{ salle.niveau }}</li>
    <li class="list-group-item"><strong>Surface :</strong> {{ salle.surface }} m²</li>
    <li class="list-group-item"><strong>Capacité :</strong> {{ salle.capacite }}</li>
    <li class="list-group-item"><strong>Équipements :</strong> {{ salle.equipements }}</li>
    <li class="list-group-item"><strong>Taux occupation :</strong> {{ salle.get_taux_occupation }}</li>
</ul>

<a href="{% url 'salle_list' %}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
