
header {
    position: absolute;
    left: 0;
    top: 0
    }
a {
    color: #3b5998;
}

body section#content {
    position: absolute;
    top: 110px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 0;
}

body#loginPage section#content {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 0;
}

form label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    padding: 4px 10px 0 0;
    }

form input[type="email"], form input[type="text"],
form input[type="password"]{
    display: block;
    width: 250px;
    padding: 2px
    }

form input[type="submit"]{
    margin: 0 20px 0 160px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #FFFFFF;
    padding: 2px 15px 3px 15px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin: 0px 60px 30px 60px;
    padding: 0 0 5px 0;
    color: #3b5998;
    border-bottom: 1px solid #3b5998;
}

body#welcomePage header {
    background: #3b5998 url('../logo.png') no-repeat 20px 25px;
    color: #FFFFFF;
}

body#welcomePage header p#name {
    font-size: 22px;
    margin: 20px 0 0 70px;
}

body#welcomePage header p#function {
    margin: 0 0 0 70px;
}

body#welcomePage header p#profileLinks {
    position: absolute;
    right: 40px;
    top: 25px;
}

a.buttonLink {
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #FFFFFF;
    padding: 2px 15px 3px 15px;
    text-align: center;
    text-decoration: none
}

body#welcomePage section#content{
    width: 800px;
    margin: 0 0 0 -400px;
}

body#welcomePage section#messageList {
    position: absolute;
    width: 600px;
    background-color: red;
}

form.inlineForm label {
    display: inline;
    float: none;
    padding: 0;
}

form.inlineForm input[type="text"] {
    display: inline-block;
    width: 150px;
}

form.inlineForm input[type="submit"] {
    margin: 0;

}

section#messageList ul {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
}

section#messageList ul li {
    margin-bottom: 10px;
}

section#messageList ul li p {
    margin: 8px 0 0 0;
}

body#welcomePage section#friendList {
    position : absolute;
    width: 180px;
    right: 0;
    padding: 10px;
    background-color: #DCE0ED;
}

section#friendList p.title {
    font-size: 22px;
    color: #3b5998;
    border-bottom: 1px solid #3b5998;
    margin: 0 0 20px 0;
}

section#friendList ul {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
}

section#friendList ul li {
    margin: 0 0 5px 0;
}



dl.fieldList dt {
    display: block;
    width: 250px;
    float: left;
    text-align: right;
    padding: 0 10px 0 0;
    font-weight: bold;
}

dl.fieldList dd {
    display: block;
    width: 450px;
    padding: 0px;
    margin: 0 0 10px 0;
}

p#showProfileNavigationButtons {
    margin: 20px 0 0 260px;
}
