{% load static %}
  <nav class="navbar navbar-expand-lg fixed-left navbar-top bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <img src="{% static 'images/logo.png' %}" width="70" height="70" alt="" class="rounded-circle"/>
        <li class="nav-item active">
          <a class="nav-link text-white" href="">Dashboard</a>
        </li>

        <!-- Dropdown Parlement -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-white" href="" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Structure parlementaire
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'list_salle' %}">Salles</a></li>
                <li><a class="dropdown-item" href="{% url 'list_bureau' %}">Bureaux</a></li>
                <li><a class="dropdown-item" href="{% url 'list_materiel' %}">Equipements</a></li>
            </ul>
        </li>

        {% comment %}<li class="nav-item">
          <a class="nav-link text-white" href="">Personnel</a>
        </li>{% endcomment %}
          <!-- Dropdown Personnel -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-white" href="" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Gestion du Personnel
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="">Liste du personnel</a></li>
                <li><a class="dropdown-item" href="">Liste des congés</a></li>

            </ul>
        </li>
      </ul>

    </div>


    {% comment %}<a class="nav-link text-white" href="">Bienvenue à: </a>{% endcomment %}
    <a class="nav-link text-white" href=""></a>
    <a class="nav-link text-white" href="">Déconnexion</a>
    <img src="{% static 'images/branding.webp' %}" width="70" height="70" alt="" class="rounded-circle"/>
  </nav>
